@model DATAspNetCoreMVCMaxton.Areas.User.Models._UserMainDTO
@{
	ViewBag.Title = "Tài khoản";
	ViewBag.pTitle = "Thông tin tài khoản";
	Layout = "~/Areas/User/Views/Shared/_Main.cshtml";
}

@section styles {
	<link href="~/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
}

<div class="row">
	<div class="col-xl-5">
		<h6 class="mb-0 text-uppercase">Thêm nhóm mới</h6>
		<hr>
		<div class="col-md-12">
			<form asp-area="User" asp-action="AddProfileGroup" method="post">
				<div class="mb-3">
					<label for="name" class="form-label">Tên nhóm</label>
					<input type="text" class="form-control" id="name" name="name" placeholder="Tên nhóm...">
				</div>

				<button type="submit" class="btn btn-grd-primary px-4">Thêm nhóm</button>
			</form>
		</div>

	</div>
	<div class="col-xl-7">
		<h6 class="mb-0 text-uppercase">Danh sách nhóm</h6>
		<hr>
		<div class="card">
			<div class="card-body">
				<table class="table mb-0">
					<thead>
						<tr>
							<th>ID</th>
							<th>Tên nhóm</th>
							<th>Tổng số hồ sơ</th>
							<th>Ngày tạo</th>
							<th>Hành động</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var group in Model.ProfileGroupList)
						{
							<tr>
								<td>@group.Id</td>
								<td>@group.Name</td>
								<td>@group.TotalProfile</td>
								<td>@group.CreatedDate.ToString("dd/MM/yyyy")</td>
								<td>
									<div class="btn-group">
										<a asp-area="User" asp-action="EditProfileGroup" asp-route-id="@group.Id" class="btn btn-outline-success">Sửa</a>
										<form asp-area="User" asp-action="DeleteProfileGroup" method="post" style="display:inline;">
											<input type="hidden" name="id" value="@group.Id" />
											<button type="submit" class="btn btn-outline-danger">Xoá</button>
										</form>
									</div>
								</td>

							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>



</div>