@model DATAspNetCoreMVCMaxton.Areas.User.Models._UserMainDTO

@{
    ViewBag.Title = "Tài khoản";
    ViewBag.pTitle = "Thông tin tài khoản";
    Layout = "~/Areas/User/Views/Shared/_Main.cshtml";
}
@section styles {

}
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">@ViewBag.Title</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.pTitle</li>
            </ol>
        </nav>
    </div>
</div>

<div class="card rounded-4">
    <div class="card-body p-4">
        <div class="position-relative mb-5">
            <div class="profile-avatar position-absolute top-100 start-50 translate-middle">
                <img src="@Model.UserAccount.Avatar" class="img-fluid rounded-circle p-1 bg-grd-danger shadow" width="170" height="170" alt="">
            </div>
        </div>
        <div class="profile-info pt-5 d-flex align-items-center justify-content-between">
            <div class="">
                <h3>@Model.UserAccount.LastName @Model.UserAccount.FirstName</h3>
                <p class="mb-0">
                    Điện thoại: @Model.UserAccount.PhoneNumber<br>
                    Email: @Model.UserAccount.Email
                </p>
            </div>
        </div>
        <div class="kewords d-flex align-items-center gap-3 mt-4 overflow-x-auto">
            <a class="btn btn-sm btn-light rounded-5 px-4" asp-controller="UserAccount" asp-action="SecurityUserAccount">Bảo mật</a>
            <button type="button" class="btn btn-sm btn-light rounded-5 px-4">Mua gói</button>
            <button type="button" class="btn btn-sm btn-light rounded-5 px-4">Nạp tiền</button>
            <button type="button" class="btn btn-sm btn-light rounded-5 px-4">Tiếp thị liên kết</button>
            <button type="button" class="btn btn-sm btn-light rounded-5 px-4">Cập nhật phần mềm</button>
            <button type="button" class="btn btn-sm btn-light rounded-5 px-4">Tài liệu</button>
            <button type="button" class="btn btn-sm btn-light rounded-5 px-4">Hướng dẫn</button>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-12 col-xl-8">
        <div class="card rounded-4 border-top border-4 border-primary border-gradient-1">
            <div class="card-body p-4">
                <div class="d-flex align-items-start justify-content-between mb-3">
                    <div class="">
                        <h5 class="mb-0 fw-bold">Chỉnh sửa tài khoản</h5>
                    </div>
                </div>
                
                <form asp-area="User" asp-controller="UserAccount" asp-action="EditUserAccount" enctype="multipart/form-data" method="post" class="row g-4">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label for="image" class="form-label">Upload Image:</label>
                            <input type="file" name="image" id="image" accept="image/*" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="input1" class="form-label">Tên</label>
                        <input type="text" class="form-control" id="input1" name="UserAccount.FirstName" placeholder="Tên..." value="@Model.UserAccount.FirstName">
                    </div>
                    <div class="col-md-6">
                        <label for="input2" class="form-label">Họ</label>
                        <input type="text" class="form-control" id="input2" name="UserAccount.LastName" placeholder="Họ..." value="@Model.UserAccount.LastName">
                    </div>
                    <div class="col-md-12">
                        <label for="input3" class="form-label">Điện thoại</label>
                        <input type="text" class="form-control" id="input3" name="UserAccount.PhoneNumber" placeholder="Số điện thoại..." value="@Model.UserAccount.PhoneNumber">
                    </div>
                    <div class="col-md-12">
                        <label for="input4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="input4" name="UserAccount.Email" placeholder="Địa chỉ Email..." value="@Model.UserAccount.Email">
                    </div>
                    <div class="col-md-12">
                        <label for="address" class="form-label">Địa chỉ</label>
                        <textarea class="form-control" id="address" name="UserAccount.Address" placeholder="Địa chỉ ..." rows="4" cols="4">@Model.UserAccount.Address</textarea>
                    </div>
                    <div class="col-md-12">
                        <label for="facebook" class="form-label">Facebook</label>
                        <input type="text" class="form-control" id="facebook" name="UserAccount.FacebookID" placeholder="Đường dẫn Facebook..." value="@Model.UserAccount.FacebookID">
                    </div>
                    <div class="col-md-12">
                        <div class="d-md-flex d-grid align-items-center gap-3">
                            <button type="submit" class="btn btn-grd-primary px-4">Cập nhật tài khoản</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-12 col-xl-4">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between mb-3">
                    <div class="">
                        <h5 class="mb-0 fw-bold">Chi tiết tài khoản</h5>
                    </div>
                    <div class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle-nocaret options dropdown-toggle"
                           data-bs-toggle="dropdown">
                            <span class="material-icons-outlined fs-5">more_vert</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:;">Action</a></li>
                            <li><a class="dropdown-item" href="javascript:;">Another action</a></li>
                            <li><a class="dropdown-item" href="javascript:;">Something else here</a></li>
                        </ul>
                    </div>
                </div>
                <div class="full-info">
                    <div class="info-list d-flex flex-column gap-3">
                        <div class="info-list-item d-flex align-items-center gap-3"><span class="material-icons-outlined">account_circle</span><p class="mb-0">Tên khách hàng: @Model.UserAccount.LastName @Model.UserAccount.FirstName</p></div>
                        <div class="info-list-item d-flex align-items-center gap-3"><span class="material-icons-outlined">done</span><p class="mb-0">Trạng thái: active</p></div>
                        <div class="info-list-item d-flex align-items-center gap-3"><span class="material-icons-outlined">code</span><p class="mb-0">Quyền: Developer</p></div>
                        <div class="info-list-item d-flex align-items-center gap-3"><span class="material-icons-outlined">flag</span><p class="mb-0">Country: @Model.UserAccount.Country</p></div>
                        <div class="info-list-item d-flex align-items-center gap-3"><span class="material-icons-outlined">language</span><p class="mb-0">Ngôn ngữ: @Model.UserAccount.Language</p></div>
                        <div class="info-list-item d-flex align-items-center gap-3"><span class="material-icons-outlined">send</span><p class="mb-0">Email: @Model.UserAccount.Email</p></div>
                        <div class="info-list-item d-flex align-items-center gap-3"><span class="material-icons-outlined">call</span><p class="mb-0">Điện thoại: @Model.UserAccount.PhoneNumber</p></div>
                        <div class="info-list-item d-flex align-items-center gap-3"><span class="material-icons-outlined">home</span><p class="mb-0">Địa chỉ: @Model.UserAccount.Address</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>


@section scripts {
}